<!DOCTYPE html>
<html ng-app="igResume">
  <head>
    <title>Ian Greulich - Resume</title>
    <!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css"> -->
    <link rel="stylesheet" href="css/site.css">
  </head>
  <body>
    <div id="container" ng-controller="MainCtrl">
      <div id="resume" class="content">
        <header>
          <h1 id="name" class="align-center">Ian Greulich</h1>
          <div class="align-center">
            <address id="home_address">
              313 Harbor Point Dr., Apt 13<br>
              Mount Pleasant, SC 29464<br>
              (803) 386-8489<br>
              <a href="mailto:ian@greulich.me">ian@greulich.me</a>
            </address>
          </div>
        </header>
        <section id="links">
          <ul>
            <li>Save a Copy</li>
            <li>Github</li>
            <li>Stack Overflow</li>
          </ul>
        </section>
        <section>
          <h3>Experience</h3>
          <ul id="experience">
            <li class="experience-unit" ng-repeat="item in experience.experience">
              <div class="heading">
                <div class="left">
                  <div class="employer"><strong class="title">{{item.experience_unit.employer}}</strong></div>
                  <div class="division">{{item.experience_unit.division}}</div>
                  <div class="location">{{item.experience_unit.location}}</div>
                </div>
                <div class="right">
                  <span class="start-month">{{item.experience_unit.start}}</span> - <span class="end-month">{{item.experience_unit.end}}</span>
                  <div class="title">{{item.experience_unit.title}}</div>
                </div>
                <div class="clear"></div>
              </div>
              <br>
              <h4>Skills</h4>
              <ul class="skills">
                <li class="skill" ng-repeat="skill in item.experience_unit.skills">{{skill}}</li>
              </ul>
              <h4 ng-hide="item.experience_unit.projects.length == nil">Projects</h4>
              <ul class="projects">
                <li class="project" ng-repeat="project in item.experience_unit.projects">
                  <strong class="title">{{project.project.title}}</strong> - <span class="description">{{project.project.description}}</span>
                </li>
              </ul>
              <hr>
            </li>
          </ul>
        </section>
        <section>
          <h3>Languages and Markup</h3>
          <ul id="languages">
            <li class="language" ng-repeat="language in languages.languages">
              <h4>{{language.language.name}}</h4>
              <div ng-repeat="category in language.language.categories">
                <h5>{{category.name}}</h5>
                <ul class="libraries" ng-repeat="library in category.libraries">
                  <li class="library">{{library.name}}</li>
                </ul>
              </div>
            </li>
            <div class="clear">
          </ul>
          <hr>
        </section>
        <section>
          <div id="education">
            <h3>Education</h3>
            <div ng-repeat="education in education.education">
              <div class="left">{{education.education_unit.end}}</div>
              <div class="right">{{education.education_unit.location}}</div>
              <div class="align-center"><strong>{{education.education_unit.school}}</strong></div>
              <div class="left"><strong>{{education.education_unit.degree}}</strong></div> 
              <div class="right">{{education.education_unit.program}}</div>
              <br>
            </div>
          </div>
        </section>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/ngResume.js"></script>
    <script src="js/ng/main.js"></script>
  </body>
</html>